<div class="bg-color">
    <div class="container pt-5 ml-8 mr-8 " style="margin-left:300px!important">
        <div class="row">
            <div class="col-md-4">
                <h2 class="text-white">Enter Buyer Details Here</h2>
            </div>
        </div>
    <div class="row" tabindex="-1">
        <div class="col-md-4">
            <label for="usr">Buyer ID</label>
            <input #name
            autocomplete="off"
              type="text"
              placeholder="Enter Stock ID"
              name="name"
              class="form-control border1"
              
            />
        </div>
        <div class="col-md-4">
            <label for="usr">Stock ID</label>
            <input #name
            autocomplete="off"
              type="text"
              placeholder="Enter Stock ID"
              name="name"
              class="form-control border1"
              
            />
        </div>
       
    </div>
    <div class="row">
        <div class="col-md-4">
            <label for="usr">First Name</label>
            <input #name
            autocomplete="off"
              type="text"
              placeholder="Enter First Name"
              name="name"
              class="form-control border1"
              
            />
        </div>
        <div class="col-md-4">
            <label for="usr">Middle Name</label>
            <input #name
            autocomplete="off"
              type="text"
              placeholder="Enter Middle Name"
              name="name"
              class="form-control border1"
              
            />
        </div>


       
       
    </div>
    <div class="row">
        <div class="col-md-4">
            <label for="usr">Last Name </label>
            <input
            autocomplete="off"
              type="text"
              placeholder="Enter  Last Name"
              name="email"
              class="form-control border1"
              
            />
        </div>
        <div class="col-md-4">
            <label for="usr">City</label>
            <input #name
            autocomplete="off"
              type="text"
              placeholder="Enter City"
              name="name"
              class="form-control border1"
              
            />
        </div>
       
    </div>
    <div class="row">
        <div class="col-md-4">
            <label for="usr">Street</label>
            <input
            autocomplete="off"
              type="text"
              placeholder="Enter Street"
              name="password"
              class="form-control border1"
              
            />
        </div>
        <div class="col-md-4">
            <label for="usr">State</label>
            <input #name
            autocomplete="off"
              type="text"
              placeholder="Enter State"
              name="name"
              class="form-control border1"
              
            />
        </div>
       
    </div>
    <div class="row">
        <div class="col-md-4">
            <label for="usr">Postal Code</label>
            <input
            autocomplete="off"
              type="text"
              placeholder="Enter PostalCode"
              name="password"
              class="form-control border1"
              
            />
        </div>
       
       
    </div>
   
    <div class="row mt-1">
        <div class="col-md-4 pt-2">
            <button type="submit" class="btn btn-primary m-1" style="width:400px;">Submit</button>
           
        </div>
    </div>
    </div>
</div>
