<div class="col-md-4 offset-md-3 mt-4">
<div class="card">
  <div class="card-header">
    <b> Employee Details</b>
   
  </div>
  <div class="card-body">
    <div class="row">
        <div class="col-5 p-1 bordered">
           <p *ngFor="let keys of tabKeys"><strong>{{keys | uppercase }}</strong> &nbsp;&nbsp; : </p>
        </div>
        <div class="col-5 p-1 bordered" *ngFor="let val of tabvalues">
           <p *ngFor="let v of val">{{v}}</p>
        </div>
    </div>
  </div>

  <div class="card-footer">
    <button class="btn btn-primary btn-md float-right p-2" routerLink="/emplList">Back</button>
  </div>
</div>
</div>
