<div class="container mt-5 ml-8 mr-8" >
<div class="row mt-2 p-2">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-6">
                <h2>Login Here</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="usr">Email:</label>
                <input
                 autocomplete="off"
                  type="text"
                  placeholder="Enter Email"
                  name="email"
                  class="form-control"
                  [(ngModel)]="email"
                />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="usr">Password:</label>
                <input
                autocomplete="off"
                  type="text"
                  placeholder="Enter Password"
                  name="password"
                  class="form-control"
                  [(ngModel)]="password"
                />
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-4">
                <button  type="submit" class="btn btn-primary" (click)="login()">Login</button>
            </div>
        </div>
    </div>
</div>
</div>
