<div class="">
    <div style="display:flex"> <button class="btn btn-danger btn-sm ml-2 ">Go Back </button> </div>
   <div class="row" style="margin-left:400px">
    <div class="col-3 p-2 ">
       
        <br>
        <h5 class="text-dark ml-2">Profit For the Present Month </h5>
       
        <table class="table m-0 tabled-bordered  thead-dark">
            <tr>
                <th class="text-success">Present Month Profit :</th>
                <td>500</td>
            </tr>
            </table>
    </div>
   </div>
</div>

